.forgot-pass {
    color: #2e59d9;
}

.forgot-pass:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #2d4373;
}

.orders-type-btn:hover {
    background-color: #f8f9fc !important;
    color: #f6c23e !important;
}

.orders-type-btn.active:hover {
    background-color: #f6c23e !important;
    color: white !important;
}

.payment-dialog {
    position: absolute;
}

.payment-value.v-text-field input {
    color: black !important;
}

.payment-value.v-text-field label {
    color: gray !important;
}

.dropdown-item:hover {
    cursor: pointer;
}

.payment-table th {
    width: 1000px !important;
}

.err-modal {
    position: absolute;
}

.container-fluid {
}

.scroll-btn {
    margin-bottom: 5%;
}
