.forgot-pass {
    color: #2e59d9;
}

.forgot-pass:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #2d4373;
}

.orders-type-btn:hover {
    background-color: #f8f9fc !important;
    color: #f6c23e !important;
}

.orders-type-btn.active:hover {
    background-color: #f6c23e !important;
    color: white !important;
}

.payment-dialog {
    position: absolute;
}

.payment-value.v-text-field input {
    color: black !important;
}

.payment-value.v-text-field label {
    color: gray !important;
}

.dropdown-item:hover {
    cursor: pointer;
}

.dropdown-item {
    color: #3a3b45 !important;
}

.payment-table th {
    width: 1000px !important;
}

.err-modal {
    position: absolute;
}

.container-fluid {
}

.scroll-btn {
    margin-bottom: 8%;
}

.sort-column:hover {
    text-decoration: underline;
    cursor: pointer;
}

table td {
    text-align: left !important;
}

.menu-list {
    width: 100%;
    white-space: nowrap !important;
    display: grid;
    grid-template-columns: 50% 50%;

}
.menu-list .v-card {
    padding: 12px !important;
    margin-top: 16px !important;
    width: 250px !important;
    height: 290px !important;
}

.menu-list  .v-card{
    display: inline-block !important;
    padding: 8px 5px;
}

.menu-card .menu-img {
    float: left;
    width:  120px;
    height: 100px;
    object-fit: cover;
    display: block;
}

#wrapper #content-wrapper {
    overflow: hidden !important;
}